<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

<div class="ui container">

    <h3>Blog</h3>

    <div class="blog">
        <p class="hidden" id="blog-id" th:text="${blog.id}"></p>
        <p class="hidden" id="blog-date" th:text="${blog.creationDate}"></p>
        <p class="hidden" id="blog-author" th:text="${blog.author}"></p>
        <p class="hidden" id="blog-body" th:text="${blog.body}"></p>
    </div>


    <div class="ui raised very padded text container segment">
        <h3 class="ui header">What to show</h3>
        <p></p>
        <p></p>
        <div>
            <button class="ui primary basic button">ID</button>
            <button class="ui secondary basic button">Date</button>
            <button class="ui positive basic button">Author</button>
            <button class="ui negative basic button">Body</button>
        </div>

        <br />

        <form th:action="@{/create-blog/${blog.id}}" action="" method="post">
            <button type="submit">Create Doc</button>
        </form>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../../js/blog.js"></script>

</body>

</html>