<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../css/main.css">

</head>
<body>

<div class="ui container">

    <h3>Blogs</h3>

    <div id="demo">
        <th:block th:each="blog : ${blogs}">

            <div class="blog">
                <p class="" id="blog-id" th:text="${blog.id}"></p>
                <p class="" id="blog-date" th:text="${blog.creationDate}"></p>
                <p class="" id="blog-author" th:text="${blog.author}"></p>
                <p class="" id="blog-body" th:text="${blog.body}"></p>
            </div>

        </th:block>
    </div>

    <p th:text="${limit}"></p>
    <!--    <div class="ui raised very padded text container segment">-->
    <!--        <h3 class="ui header">What to show</h3>-->
    <!--        <p></p>-->
    <!--        <p></p>-->
    <!--        <div>-->
    <!--            <button class="ui primary basic button">ID</button>-->
    <!--            <button class="ui secondary basic button">Date</button>-->
    <!--            <button class="ui positive basic button">Author</button>-->
    <!--            <button class="ui negative basic button">Body</button>-->
    <!--        </div>-->

    <!--    </div>-->

</div>

<script>
    $('#demo').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7],
        callback: function(data, pagination) {
            // template method of yourself
            var html = template(data);
            dataContainer.html(html);
        }
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="js/blog.js"></script>-->

</body>

</html>